<!-- INCLUDE ucp_header.html -->
 
<form id="ucp" method="post" action="{S_UCP_ACTION}">
   <fieldset>
      <legend>Delegación</legend>
      <dl>
         <dt><label>¿Quieres ser delegado?</label></dt>
            <dd>
            SI<input type="radio" name="es_delegado" id="esdelegado_SI" value=1 <!-- IF ES_DELEGADO -->checked="checked"<!-- ENDIF --> /></li>
            NO<input type="radio" name="es_delegado" id="esdelegado_NO" value=0 <!-- IF not ES_DELEGADO -->checked="checked"<!-- ENDIF --> /></li>
           </dd>
         </dt>
      </dl>
      <dl>
         <dt><label>Delego en el usuario:</label></dt>
            <dd><input type="text" name="delegado" id="" value="{DELEGADO}" />
            </dd>
         </dt>
      </dl>
      <dl>
		<dt><label>Lista de delegados:</label></dt>
			<dd><select size="10" name="delegate_select">
				<!-- BEGIN delegate -->
				<option {delegate.SELECTED} value="{delegate.DELEGATE_ID}">[{delegate.DELEGATED_VOTES}] {delegate.DELEGATE}</option>
				<!-- END delegate -->
			</select>
			</dd>
      </dl>
   </fieldset>

   <fieldset class="submit-buttons">
      {S_HIDDEN_FIELDS}             
      <input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
      <input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
      {S_FORM_TOKEN}
   </fieldset>
</form>
 
<!-- INCLUDE ucp_footer.html -->
